# Core
pytest==8.3.3
requests

# Playwright
playwright
pytest-playwright==0.5.0

# Pytest plugins bạn đã dùng trong log
pytest-html
pytest-xdist
pytest-rerunfailures
pytest-base-url
# pytest-excel  (chỉ cần nếu chạy local; trên CI bạn đã tắt bằng -p no:pytest_excel)
